.wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding-left: 25px;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
  padding-right: 25px;
}

.cardsWrapper {
  margin-top: 18px;
}
